.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.siteLayoutSubHeaderBackground {
  background: #fff;
  display: flex;
  justify-content: flex-end;
}

.siteLayoutBackground {
  background: #fff;
}
